/* AppNavbar.css */
.custom-navbar {
    background-color: #FFF1ED !important;
}

/* AppHeader.css */

.header-nav .navbar-scrolltofixed .navbar-brand img {
  max-height: 40px;
}

.floating-contact, .wp-chat, .whatsapp-chat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.floating-contact .iconblock, .floating-contact .numberblock {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-form {
  position: fixed;
  top: 50%;
  right: -300px;
  width: 300px;
  background: white;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: right 0.3s ease-in-out;
}

.sidebar-form.show {
  right: 0;
}

.call-action {
  cursor: pointer;
  background-color: #517693; 
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.call-action span {
  font-weight: bold;
}

.btn-area-color {
  background-color: #517693;
  border-color: #517693;
}
